{
  "jobExecutionId": "67dfac11-1caf-4470-9ad1-d533f6360bdd",
  "jobExecutionHrId": "10000",
  "jobProfileName": "Marc jobs profile",
  "fileName": "import_1.csv",
  "runBy": {
    "firstName": "DIKU",
    "lastName": "ADMINISTRATOR"
  },
  "progress": {
    "current": 50,
    "total": 50
  },
  "startedDate": "2018-10-30T12:36:55.000",
  "completedDate": "2018-10-30T12:40:01.000",
  "status": "COMMITED"
  }
}
