{
  "jobExecutions": [
    {
      "id": "67dfac11-1caf-4470-9ad1-d533f6360bdd",
      "hrId": "13414",
      "jobProfileName": "Marc jobs profile",
      "fileName": "import_1.csv",
      "runBy": {
        "firstName": "Paolo",
        "lastName": "Schiller"
      },
      "progress": {
        "current": 7,
        "total": 19
      },
      "startedDate": "",
      "completedDate": "",
      "status": "IMPORT_FINISHED"
    },
    {
      "id": "981oklm8-lkmn-mnds-za98-d533f6360bdd",
      "hrId": "11844",
      "jobProfileName": "Marc jobs profile",
      "fileName": "import_11.csv",
      "runBy": {
        "firstName": "Brad",
        "lastName": "Goodwin"
      },
        "progress": {
          "current": 45,
          "total": 45
      },
      "startedDate": "2018-10-30T13:20:10.000",
      "completedDate": "2018-10-30T13:23:25.000",
      "status": "COMMITED"
      }
  ],
  "totalRecords": 2
}
