{
  "id": "67dfac11-1caf-4470-9ad1-d533f6360bdd",
  "hrId": "10000",
  "jobProfileId": "1",
  "parentJobId": "0",
  "subordinationType": "CHILD",
  "sourcePath": "C:\import\files\import_1.csv",
  "runBy": {
    "firstName": "DIKU",
    "lastName": "ADMINISTRATOR"
  },
  "startedDate": "2018-10-30T12:36:55.000",
  "completedDate": "2018-10-30T12:40:01.000",
  "status": "COMMITED"
  }
}
