{
  "id": "dc653de8-f0df-48ab-9630-13aacfe8e8f4",
  "jobExecutionId": "67dfac11-1caf-4470-9ad1-d533f6360bdd",
  "jobExecutionHrId": "10000",
  "jobProfileName": "Marc jobs profile",
  "fileName": "import_1.csv"
  "runBy": {
     "firstName": "DIKU",
     "lastName": "ADMINISTRATOR"
  },
  "completedDate": "2018-10-30T12:40:01.000"
}
