{
  "jobExecutions": [
    {
      "id": "fgbnm001-1caf-4470-9ad1-d533f6360bdd",
      "hrId": "17782",
      "jobProfileId": "1",
      "parentJobId": "0",
      "subordinationType": "CHILD",
      "sourcePath": "C:\\import\\files\\import_1.csv",
      "runBy": {
        "firstName": "JOHN",
        "lastName": "DOE"
      },
      "startedDate": "2018-10-30T12:36:55.000",
      "completedDate": "2018-10-30T12:40:01.000",
      "status": "COMMITTED",
      "uiStatus": "RUNNING_COMPLETE"
     },
    {
      "id": "zrrg6nm1-1caf-4470-9ad1-d533f6360bdd",
      "hrId": "24001",
      "jobProfileId": "1",
      "parentJobId": "0",
      "subordinationType": "CHILD",
      "sourcePath": "C:\\import\files\\import_1.csv",
      "runBy": {
        "firstName": "JOHN",
        "lastName": "DOE"
      },
      "startedDate": "2018-10-31T11:31:51.000",
      "completedDate": "2018-10-31T11:32:01.000",
      "status": "COMMITTED",
      "uiStatus": "RUNNING_COMPLETE"
     }
  ],
  "totalRecords": 2
}
